<h1>Dashboard</h1>

  <section id="content">
    <main [ngClass]="getClass()">
      <div class="head-title">
        <div class="left">

          <ul class="breadcrumb">
            <li>
              <a>Dashboard</a>
            </li>
            <li><i class='fa-solid fa-chevron-right'></i></li>
            <li>
              <a class="active" href="#">Home</a>
            </li>
          </ul>
        </div>
        <a href="#" class="btn-download">
          <i class="fa-solid fa-cloud-arrow-down"></i>
          <span class="text">Download PDF</span>
        </a>
      </div>

      <div class="card">
      <div class="card-head">
      <ul class="box-info">
        <li>
          <i class='bx fa-solid fa-calendar-check' ></i>
          <span class="text">
            <h3>1020</h3>
            <p>New Order</p>
          </span>
        </li>
        <li>
          <i class='bx fa-solid fa-user-group' ></i>
          <span class="text">
            <h3>2834</h3>
            <p>Visitors</p>
          </span>
        </li>
        <li>
          <i class='bx fa-solid fa-sack-dollar' ></i>
          <span class="text">
            <h3>$2543</h3>
            <p>Total Sales</p>
          </span>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Orders</h3>
            <i class='bx fa-solid fa-magnifying-glass' ></i>
            <i class='bx fa-solid fa-sort' ></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Date Order</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="assets/img/avatar2.png">
                  <p>Muhammad Omar</p>
                </td>
                <td>01-11-2023</td>
                <td><span class="status completed">Completed</span></td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/avatar3.png">
                  <p>Fady Shenoda</p>
                </td>
                <td>01-10-2023</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/avatar5.png">
                  <p>Ahmed Soliman</p>
                </td>
                <td>01-10-2022</td>
                <td><span class="status process">Process</span></td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/avatar6.png">
                  <p>Abdullah Ashraf</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/avatar5.png">
                  <p>Hamed</p>
                </td>
                <td>01-10-2020</td>
                <td><span class="status completed">Completed</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="todo">
          <div class="head">
            <h3>Status</h3>
            <i class='bx fa-solid fa-plus' ></i>
            <i class='bx fa-solid fa-sort' ></i>
          </div>
          <ul class="todo-list">
            <li class="completed">
              <p>Sales List</p>
              <i class='bx fa-solid fa-ellipsis-vertical' ></i>
            </li>
            <li class="completed">
              <p>Sales List</p>
              <i class='bx fa-solid fa-ellipsis-vertical' ></i>
            </li>
            <li class="not-completed">
              <p>Sales List</p>
              <i class='bx fa-solid fa-ellipsis-vertical' ></i>
            </li>
            <li class="completed">
              <p>Sales List</p>
              <i class='bx fa-solid fa-ellipsis-vertical' ></i>
            </li>
            <li class="not-completed">
              <p>Sales List</p>
              <i class='bx fa-solid fa-ellipsis-vertical' ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </main>
  </section>
