<h1>Profile</h1>
<div [ngClass]="getClass()" class="dashboard-container">
  <div class="col-left">
    <div class="card welcome-card">
      <div class="card-head welcome-head-container">
        <div class="col-left text">
          <div>Welcome Back !</div>
          <p class="text">Admin Profile </p>
        </div>
        <div class="col-right">
          <img [src]="'assets/profile-bg-3.png'" alt="">
        </div>
      </div>
      <div class="card-body welcome-body-container">
        <div class="col-left">
          <div class="avatar">
            <img src="../../../../assets/img/avatar3.png" alt="">
          </div>
          <div class="name">
            Muhammad Omar
          </div>
          <p>Software Engineer</p>
        </div>
        <div class="col-right">
          <div class="performance">
            <div>Performance</div>
            <div>80%</div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="view-profile">
            <button>
              View Profile
              <i class="far fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col task-col">
    <div class="task">
      <span class="bar compeleted"></span>
      <div class="details">
        <div>Compeleted</div>
        <p>6 tasks</p>
      </div>

    </div>
    <div class="task">
      <span class="bar active"></span>
      <div class="details">
        <div>Active</div>
        <p>1 tasks</p>
      </div>
    </div>

    <div class="task">
      <span class="bar new"></span>
      <div class="details">
        <div>Assigned</div>
        <p>12 tasks</p>
      </div>
    </div>
    <div class="task">
      <span class="bar new"></span>
      <div class="details">
        <div>Assigned</div>
        <p>12 tasks</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-head">
    info
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vel delectus. Eaque exercitationem assumenda hic
      asperiores cum possimus sunt dolorem. Soluta natus facere aliquid ipsa asperiores tenetur modi laboriosam illum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laborum impedit, repudiandae odit quia voluptates
      asperiores ratione! Delectus vel ipsam, recusandae numquam porro iste illo itaque quod culpa consequuntur tenetur.
    </p>
  </div>
</div>